body *{
    background-color: #032f4c;
    color: whitesmoke;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    display: block;
    padding: .5rem;
}
.recipe-link{
    color: rgb(186, 193, 204);
}

